html {
  background-image: linear-gradient( #CAC2D1, #FAD4D2, #FDDED7, #FAE5D5);
}

nav {
  text-transform: uppercase;
  color:whitesmoke;
  border-bottom: 1px solid whitesmoke;
  width: 30%;
  margin-left: calc(10%/6);
  padding: 0.7em 0;
  font-family: 'Raleway';
  font-size: 1.5em; /* Don't want to scale and get super small*/
}

.Footnote {
  height: 100px;
}